*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
 background-color: #3498db;
}

header ul{
  display: flex;
  align-items: center;
  gap: 30px;

}
header ul li{
  list-style-type: none;
}
.container{
  /* position: relative; */
  height: 100vh;
  display: flex;
  justify-content: center;
}
table{
  width: 100%;

}
tr{
margin: 20px;
}
td,th{
  padding: 10px;
  margin: 20px;
  font-size: 20px;
  color: rgb(92, 86, 86);
}
.btn{
  padding: 10px 20px;
  border-radius: 10px;
  border: none;
  color: white;
  font-size: 15px;
}
.addBTN{
  background-color: #3498db;
}
.deleteBTN{
  background-color: crimson;
}
.allDelete{
  padding:0 2rem;
  text-align: start;
}
.pageCount{
  padding:0 2rem;
  padding: 10px;
  font-size: 20px;
  color:white ;
  background-color: rgba(0,0,0,0.6);
}
.driver{
  width: 100%;
  height: 100vh;
  text-align: center;
  margin: 20px;
}
.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  margin-top: 50px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

.loaderDiv{
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.red{
  color: darkred;
}

.controller{
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.controller button{
  background-color: #3498db;
  border: none;
  color: white;
  font-size: 15px;
  padding: 10px 30px;
  border-radius: 10px;
}
#toasts {
  top: 0;
  right: 0;
  position: absolute;
  flex-basis: 25%;
  height: 100vh;
}
.toast{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 12px;
  padding: 12px;
  border-radius: 8px;
  animation: fade-in 0.5s linear;
  font-size: 18px;
}
.success-toast{
  background-color: green;
  color: white;
}
@keyframes fade-in{
  from{
      opacity: 0;
  }

  to{
      opacity: 1;
  }
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}